body{
    font-family: 'Poppins', sans-serif;
  
}
h1{
    font-size:40px;
    line-height: 40px;
    
}
.orange{
    color: orange;
}
.red{
    color: red;
}
section{
    display: flex;
  

}
.half-width{
    width: 50%;
    height: 30%;
    padding:5%
}
.link-button{
     text-decoration: none;
    border-radius: 25px;
    padding:10px 20px;
    background-image: linear-gradient(orange,tomato);
    color: white;
    font-weight: 700;
    }
    
    h1{
        font-size:40px;
        line-height: 40px;
        
    }
    .orange{
        color: orange;
    }
    .red{
        color: red;
    }
   
    
    .half-width{
        width: 50%;
        height: 30%;
        padding:5%
    }
    .link-button{
         text-decoration: none;
        border-radius: 25px;
        padding:10px 20px;
        background-image: linear-gradient(pink, maroon);
        color: white;
        font-weight: 700;
        }
        
       .bg{ 
           display:flex;
           background-image: url( Frame\ 58\ \(1\).png);
       }
    
.one{
    text-align: center;
    font-weight: 400;
    margin: 100px 300px;
    width:900px;
    height: 150px;
}
.four{
    padding:10px;
    border-top:5px blue solid;
    margin:30px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px 5px;
}
.five{
    margin:30px;
    border-top:5px red solid;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px 5px;
}
.six{
    border-top:5px green solid;
    margin:30px;
    padding:10px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px 5px;
}
 #menus{

   
    display: flex;
    width:100%;
    
}
.three{
    text-align: center;
    font-weight: 600;
}
.pages {margin: 30px;
    
    text-align: center;
    

}





footer { background-image:linear-gradient(black, gray);
        color: white;
   
        text-align: center;
}
